* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.home {
  overflow: hidden;
}
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 29px 75px;
}
@media (max-width: 480px) {
  .home-header {
    padding: 20px 34px;
  }
}
.home-header__logo #logo-mobile {
  display: none;
}
.home-header__search {
  margin-top: 25px;
  position: relative;
}
@media (max-width: 480px) {
  .home-header__search {
    position: absolute;
    top: 40px;
    right: 30px;
  }
}
.home-header__search .input {
  width: 462px;
  height: 40px;
  border: 1px solid #f3884d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.home-header__search .input::placeholder {
  font-size: 20px;
  padding-left: 55px;
}
@media (max-width: 480px) {
  .home-header__search .input::placeholder {
    font-size: 12px;
    padding-left: 35px;
  }
}
@media (max-width: 480px) {
  .home-header__search .input {
    width: 223px;
    height: 24px;
  }
}
.home-header__search i {
  position: absolute;
  font-size: 1.3rem;
  color: #5c5252;
  top: 11px;
  left: 22px;
}
.home-header__search i:hover {
  color: #f3884d;
}
@media (max-width: 480px) {
  .home-header__search i {
    font-size: 0.8rem;
    top: 7.5px;
    left: 10px;
  }
}
.home-header__cart {
  margin-top: 30px;
  margin-right: -45px;
}
@media (max-width: 480px) {
  .home-header__cart {
    position: absolute;
    top: -8px;
    right: 245px;
  }
}
.home-header__cart a {
  text-decoration: none;
}
.home-header__cart a i {
  font-size: 2rem;
  color: #f3884d;
}
.home-header__cart a i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__cart a i {
    font-size: 1.5rem;
  }
}
.home-header__avt {
  margin-top: 30px;
  margin-left: -30px;
}
@media (max-width: 480px) {
  .home-header__avt {
    position: absolute;
    top: -8px;
    right: 155px;
  }
}
.home-header__avt i {
  font-size: 2.3rem;
  color: #f3884d;
}
.home-header__avt i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__avt i {
    font-size: 1.5rem;
  }
}
.home-header__text {
  margin-top: 30px;
  margin-left: -80px;
}
@media (max-width: 480px) {
  .home-header__text {
    position: absolute;
    top: -8px;
    right: 50px;
  }
}
.home-header__text a {
  text-decoration: none;
  font-size: 20px;
  color: #f3884d;
  margin-bottom: 3px;
}
.home-header__text a:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__text a {
    font-size: 12px;
  }
}
.home-menu {
  background-color: #f3884d;
  padding: 0 60px;
}
.home-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-menu ul li {
  margin: 0 22px;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 700;
}
.home-menu ul li a {
  text-decoration: none;
  color: #fff;
}
.home-menu ul li a:hover {
  color: #b8480b;
}
.home .menu-mobile {
  display: none;
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}
.home .menu-mobile .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.home .menu-mobile .topnav #myLinks {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 125px;
  left: -100%;
  background-color: #f3884d;
  overflow-x: hidden;
  transition: 0.5s;
}
.home .menu-mobile .topnav #myLinks a {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
}
.home .menu-mobile .topnav #myLinks a:first-child {
  box-shadow: none;
}
.home .menu-mobile .topnav a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  box-shadow: none;
}
.home .menu-mobile .topnav a.icon {
  display: block;
  position: absolute;
  left: -3px;
  top: -13px;
}
.home .active {
  background-color: #f3884d !important;
  color: white !important;
}
.home .show-hidden {
  display: none;
}
.home .show {
  display: block !important;
}
.home-footer {
  box-shadow: 2px -1px 6px 2px rgba(0, 0, 0, 0.25);
  padding: 40px 60px 20px 60px;
}
.home-footer .footer {
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .home-footer .footer {
    flex-direction: column-reverse;
  }
}
.home-footer .footer-item {
  padding: 0 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-item {
    margin-bottom: 60px;
  }
}
@media (max-width: 390px) {
  .home-footer .footer-item {
    padding: 0 20px;
  }
}
.home-footer .footer-item .title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .home-footer .footer-left {
    padding: 0;
  }
}
.home-footer .footer-left ul {
  list-style: none;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .home-footer .footer-left ul {
    padding: 0 5px;
    margin-top: 15px;
  }
}
.home-footer .footer-left ul li {
  padding: 4px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.home-footer .footer-left ul li .icon {
  position: relative;
  margin-right: 20px;
}
.home-footer .footer-left ul li .icon .home {
  margin-top: -8px;
}
.home-footer .footer-left ul li .icon .home-1 {
  position: absolute;
  top: 5.5px;
  left: 6.2px;
}
.home-footer .footer-left ul li .icon .email-1 {
  position: absolute;
  top: 5px;
  left: 0;
}
.home-footer .footer-middle img {
  margin-top: 15px;
  width: 40%;
  height: auto;
}
@media (max-width: 480px) {
  .home-footer .footer-middle img {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .home-footer .footer-right {
    padding: 0;
  }
}
.home-footer .footer-right ul {
  list-style: none;
  margin-top: 15px;
  margin-left: 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul {
    margin-top: 10px;
    margin-right: 28px;
    padding: 0;
  }
}
.home-footer .footer-right ul li {
  padding: 6px 0;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul li {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .home-footer {
    padding: 36px 53px;
  }
}
@media (max-width: 390px) {
  .home-footer {
    padding: 40px 45px 20px 45px;
  }
}

.product-detail {
  overflow: hidden;
}
.product-detail__nav {
  background-color: #f2e3cd;
  margin-top: -20px;
}
@media (max-width: 480px) {
  .product-detail__nav {
    margin-top: -1px;
  }
}
.product-detail__nav p {
  font-size: 20px;
  font-weight: 300;
  padding: 15px 0;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .product-detail__nav p {
    font-size: 10px;
    padding: 3px 0;
  }
}

.personal-main {
  padding: 86px 0 130px 0;
}
@media (max-width: 480px) {
  .personal-main {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
.personal-main .personal-left {
  padding: 0 10px;
}
@media (max-width: 480px) {
  .personal-main .personal-left {
    display: flex;
    padding: 0 20px;
  }
}
.personal-main .personal-left .top {
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.25);
  padding: 32px 55px;
}
.personal-main .personal-left .top-img {
  width: 100%;
}
.personal-main .personal-left .top-img img {
  width: 100%;
  height: 240px;
}
.personal-main .personal-left .top-name p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .personal-main .personal-left .top {
    padding: 17px 25px;
  }
  .personal-main .personal-left .top-img {
    width: 126px;
    height: 130px;
  }
  .personal-main .personal-left .top-img img {
    width: 100%;
    height: 130px;
  }
  .personal-main .personal-left .top-name p {
    font-size: 14px;
    line-height: 19px;
    margin-top: 15px;
  }
}
.personal-main .personal-left .bottom {
  margin-top: 28px;
  box-shadow: -1px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
@media (max-width: 480px) {
  .personal-main .personal-left .bottom {
    margin-left: 14px;
    margin-top: 0;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
  }
}
.personal-main .personal-left .bottom ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
@media (max-width: 480px) {
  .personal-main .personal-left .bottom ul {
    margin-bottom: 0;
  }
}
.personal-main .personal-left .bottom ul li {
  font-size: 24px;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 26px;
}
.personal-main .personal-left .bottom ul li a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 480px) {
  .personal-main .personal-left .bottom ul li {
    font-size: 14px;
    line-height: 28px;
    padding: 10px;
    border: 0;
  }
  .personal-main .personal-left .bottom ul li:last-child {
    box-shadow: none;
  }
}
.personal-main .col-right {
  padding: 0 15px;
}
@media (max-width: 480px) {
  .personal-main .col-right {
    margin-top: 20px;
    padding: 0 27px;
    width: 360px;
    margin-bottom: 124px;
  }
}
.personal-main .col-right .personal-right {
  padding: 50px 38px 41px 38px;
  box-shadow: -4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f2e3cd;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right {
    box-shadow: none;
    padding: 31px 13px 15px 13px;
  }
}
.personal-main .col-right .personal-right__title {
  border-bottom: 1px solid #000;
  padding: 0 12px;
}
.personal-main .col-right .personal-right__title h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 10px 0;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__title {
    text-align: center;
  }
  .personal-main .col-right .personal-right__title h3 {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
}
.personal-main .col-right .personal-right__form {
  padding: 50px 12px 0 12px;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form {
    padding-top: 24px;
  }
}
.personal-main .col-right .personal-right__form .input-item {
  margin-bottom: 27px;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 13px;
  }
  .personal-main .col-right .personal-right__form .input-item .col {
    padding: 0;
  }
}
.personal-main .col-right .personal-right__form .input-item .label {
  text-align: right;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item .label-name {
    margin-left: -5px;
  }
}
.personal-main .col-right .personal-right__form .input-item label {
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  margin-right: 44px;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item label {
    margin-right: 16px;
    font-size: 12px;
    line-height: 24px;
  }
}
.personal-main .col-right .personal-right__form .input-item input {
  width: 700px;
  height: 60px;
  padding: 0 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item input {
    width: 316px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 11px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.personal-main .col-right .personal-right__form .input-item__btn {
  background-color: #f3884d;
  width: 128px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  margin-top: 13px;
  margin-left: 15px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item__btn {
    width: 56px;
    height: 24px;
    margin-top: 0;
    margin-left: 12px;
  }
}
.personal-main .col-right .personal-right__form .input-item__btn p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 6px;
}
@media (max-width: 480px) {
  .personal-main .col-right .personal-right__form .input-item__btn p {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
  }
}

/*# sourceMappingURL=address.css.map */
