* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.home-header {
  display: flex;
  justify-content: space-between;
  padding: 29px 75px;
}
@media (max-width: 480px) {
  .home-header {
    padding: 20px 34px;
  }
}
.home-header__logo #logo-mobile {
  display: none;
}
.home-header__search {
  margin-top: 25px;
  position: relative;
}
@media (max-width: 480px) {
  .home-header__search {
    position: absolute;
    top: 40px;
    right: 30px;
  }
}
.home-header__search .input {
  width: 462px;
  height: 40px;
  border: 1px solid #f3884d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.home-header__search .input::placeholder {
  font-size: 20px;
  padding-left: 55px;
}
@media (max-width: 480px) {
  .home-header__search .input::placeholder {
    font-size: 12px;
    padding-left: 35px;
  }
}
@media (max-width: 480px) {
  .home-header__search .input {
    width: 223px;
    height: 24px;
  }
}
.home-header__search i {
  position: absolute;
  font-size: 1.3rem;
  color: #5c5252;
  top: 11px;
  left: 22px;
}
.home-header__search i:hover {
  color: #f3884d;
}
@media (max-width: 480px) {
  .home-header__search i {
    font-size: 0.8rem;
    top: 7.5px;
    left: 10px;
  }
}
.home-header__cart {
  margin-top: 30px;
  margin-right: -45px;
}
@media (max-width: 480px) {
  .home-header__cart {
    position: absolute;
    top: -8px;
    right: 245px;
  }
}
.home-header__cart a {
  text-decoration: none;
}
.home-header__cart a i {
  font-size: 2rem;
  color: #f3884d;
}
.home-header__cart a i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__cart a i {
    font-size: 1.5rem;
  }
}
.home-header__avt {
  margin-top: 30px;
  margin-left: -30px;
}
@media (max-width: 480px) {
  .home-header__avt {
    position: absolute;
    top: -8px;
    right: 155px;
  }
}
.home-header__avt i {
  font-size: 2.3rem;
  color: #f3884d;
}
.home-header__avt i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__avt i {
    font-size: 1.5rem;
  }
}
.home-header__text {
  margin-top: 30px;
  margin-left: -80px;
}
@media (max-width: 480px) {
  .home-header__text {
    position: absolute;
    top: -8px;
    right: 50px;
  }
}
.home-header__text a {
  text-decoration: none;
  font-size: 20px;
  color: #f3884d;
  margin-bottom: 3px;
}
.home-header__text a:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__text a {
    font-size: 12px;
  }
}
.home-menu {
  background-color: #f3884d;
  padding: 0 60px;
}
.home-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-menu ul li {
  margin: 0 22px;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 700;
}
.home-menu ul li a {
  text-decoration: none;
  color: #fff;
}
.home-menu ul li a:hover {
  color: #b8480b;
}
.home .menu-mobile {
  display: none;
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}
.home .menu-mobile .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.home .menu-mobile .topnav #myLinks {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 125px;
  left: -100%;
  background-color: #f3884d;
  overflow-x: hidden;
  transition: 0.5s;
}
.home .menu-mobile .topnav #myLinks a {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
}
.home .menu-mobile .topnav #myLinks a:first-child {
  box-shadow: none;
}
.home .menu-mobile .topnav a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  box-shadow: none;
}
.home .menu-mobile .topnav a.icon {
  display: block;
  position: absolute;
  left: -3px;
  top: -13px;
}
.home .active {
  background-color: #f3884d;
  color: white;
}
.home .show-hidden {
  display: none;
}
.home .show {
  display: block !important;
}
.home-footer {
  box-shadow: 2px -1px 6px 2px rgba(0, 0, 0, 0.25);
  padding: 40px 60px 20px 60px;
}
.home-footer .footer {
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .home-footer .footer {
    flex-direction: column-reverse;
  }
}
.home-footer .footer-item {
  padding: 0 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-item {
    margin-bottom: 60px;
  }
}
@media (max-width: 390px) {
  .home-footer .footer-item {
    padding: 0 20px;
  }
}
.home-footer .footer-item .title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .home-footer .footer-left {
    padding: 0;
  }
}
.home-footer .footer-left ul {
  list-style: none;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .home-footer .footer-left ul {
    padding: 0 5px;
    margin-top: 15px;
  }
}
.home-footer .footer-left ul li {
  padding: 4px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.home-footer .footer-left ul li .icon {
  position: relative;
  margin-right: 20px;
}
.home-footer .footer-left ul li .icon .home {
  margin-top: -8px;
}
.home-footer .footer-left ul li .icon .home-1 {
  position: absolute;
  top: 5.5px;
  left: 6.2px;
}
.home-footer .footer-left ul li .icon .email-1 {
  position: absolute;
  top: 5px;
  left: 0;
}
.home-footer .footer-middle img {
  margin-top: 15px;
  width: 40%;
  height: auto;
}
@media (max-width: 480px) {
  .home-footer .footer-middle img {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .home-footer .footer-right {
    padding: 0;
  }
}
.home-footer .footer-right ul {
  list-style: none;
  margin-top: 15px;
  margin-left: 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul {
    margin-top: 10px;
    margin-right: 28px;
    padding: 0;
  }
}
.home-footer .footer-right ul li {
  padding: 6px 0;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul li {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .home-footer {
    padding: 36px 53px;
  }
}
@media (max-width: 390px) {
  .home-footer {
    padding: 40px 45px 20px 45px;
  }
}

.category-nav {
  background-color: #f2e3cd;
  margin-top: -20px;
}
@media (max-width: 480px) {
  .category-nav {
    margin-top: -1px;
  }
}
.category-nav p {
  font-size: 20px;
  font-weight: 300;
  padding: 15px 0;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .category-nav p {
    font-size: 10px;
    padding: 3px 0;
  }
}
.category-main {
  margin-top: 80px;
}
@media (max-width: 480px) {
  .category-main {
    margin-top: 25px;
  }
}
.category-main .main {
  margin-bottom: 120px;
}
@media (max-width: 480px) {
  .category-main .main {
    margin-bottom: 85px;
  }
}
.category-main .main-left__content .title {
  background-color: #f3884d;
  text-align: center;
}
.category-main .main-left__content .title h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 17px 0;
  color: #fff;
}
.category-main .main-left__content .list-category {
  background-color: #f2e3cd;
  margin-top: -10px;
}
.category-main .main-left__content .list-category ul {
  list-style: none;
  padding: 0 36px;
}
.category-main .main-left__content .list-category ul li {
  font-size: 24px;
  font-weight: 300;
  padding: 22px 10px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.category-main .main-left__content .list-category ul li:last-child {
  border-bottom: none;
}
.category-main .main #category-mobile {
  display: none;
  width: 298px;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .category-main .main #category-mobile {
    position: relative;
  }
}
.category-main .main #category-mobile .title {
  background-color: #f3884d;
  color: #fff;
  width: 298px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  box-shadow: -1px 4px 4px -1px rgba(0, 0, 0, 0.25);
}
.category-main .main #category-mobile .title h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}
.category-main .main #category-mobile .title i {
  width: 13.06px;
  height: 7.87px;
  margin-bottom: 7px;
  position: absolute;
  top: 6px;
  right: 10px;
}
.category-main .main #category-mobile .list-category {
  display: none;
  width: 100%;
  overflow-y: hidden;
  position: absolute;
  z-index: 99;
  left: 0;
  background: #f2e3cd;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.25);
}
.category-main .main #category-mobile .list-category ul {
  list-style: none;
  padding: 0 26px;
}
.category-main .main #category-mobile .list-category ul li {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  padding: 7.22px;
  border-bottom: 0.5px solid #000000;
}
.category-main .main #category-mobile .list-category ul li:last-child {
  border-bottom: 0;
}
.category-main .main #category-mobile .list-category ul .active-item {
  font-weight: 600;
  border-bottom: 1px solid #000000;
}
.category-main .main-right .home-products {
  margin-left: 20px;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products {
    margin-bottom: -50px;
    margin-left: 0;
  }
}
.category-main .main-right .home-products h2 {
  font-size: 40px;
  color: #f3884d;
  margin-bottom: 68px;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products h2 {
    font-size: 16px;
    margin-top: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
.category-main .main-right .home-products .list-product {
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products .list-product {
    margin-left: 1px;
  }
}
.category-main .main-right .home-products .list-product__item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products .list-product__item {
    margin-bottom: 29px;
  }
}
.category-main .main-right .home-products .list-product__item a {
  text-decoration: none;
  color: #000;
}
.category-main .main-right .home-products .list-product__item a .img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 205px;
}
.category-main .main-right .home-products .list-product__item a .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products .list-product__item a .img {
    width: 100%;
    height: 170px;
  }
  .category-main .main-right .home-products .list-product__item a .img img {
    width: 100%;
    height: 100%;
  }
}
.category-main .main-right .home-products .list-product__item a .description {
  font-size: 18px;
  padding: 15px 0;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products .list-product__item a .description {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
.category-main .main-right .home-products .list-product__item a .description p {
  margin: 0;
}
.category-main .main-right .home-products .list-product__item a .description .price {
  color: #0d0c0c;
  font-weight: bold;
}
@media (max-width: 480px) {
  .category-main .main-right .home-products .list-product__item a .description {
    font-size: 12px;
    line-height: 16px;
  }
  .category-main .main-right .home-products .list-product__item a .description p {
    font-weight: 400;
  }
  .category-main .main-right .home-products .list-product__item a .description .price {
    font-weight: 700;
  }
}

/*# sourceMappingURL=category.css.map */
