@import 'mixin';

.home {
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 29px 75px;
    @include mobile {
      padding: 20px 34px;
    }
    &__logo {
      #logo-mobile {
        display: none;
      }
    }
    &__search {
      margin-top: 25px;
      position: relative;
      @include mobile {
        position: absolute;
        top: 40px;
        right: 30px;
      }
      .input {
        width: 462px;
        height: 40px;
        border: 1px solid #f3884d;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        &::placeholder {
          font-size: 20px;
          padding-left: 55px;
          @include mobile {
            font-size: 12px;
            padding-left: 35px;
          }
        }
        @include mobile {
          width: 223px;
          height: 24px;
        }
      }
      i {
        position: absolute;
        font-size: 1.3rem;
        color: #5c5252;
        top: 11px;
        left: 22px;
        &:hover {
          color: #f3884d;
        }
        @include mobile {
          font-size: 0.8rem;
          top: 7.5px;
          left: 10px;
        }
      }
    }
    &__cart {
      margin-top: 30px;
      margin-right: -45px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 245px;
      }
      a {
        text-decoration: none;
        i {
          font-size: 2rem;
          color: #f3884d;
          &:hover {
            color: #b8480b;
          }
          @include mobile {
            font-size: 1.5rem;
          }
        }
      }
    }
    &__avt {
      margin-top: 30px;
      margin-left: -30px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 155px;
      }
      i {
        font-size: 2.3rem;
        color: #f3884d;
        &:hover {
          color: #b8480b;
        }
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
    &__text {
      margin-top: 30px;
      margin-left: -80px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 50px;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color: #f3884d;
        margin-bottom: 3px;
        &:hover {
          color: #b8480b;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
  &-menu {
    background-color: #f3884d;
    padding: 0 60px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 22px;
        padding: 12px 0;
        font-size: 24px;
        font-weight: 700;
        a {
          text-decoration: none;
          color: #fff;
          &:hover {
            color: #b8480b;
          }
        }
      }
    }
  }
  .menu-mobile {
    display: none;
    max-width: 480px;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
      #myLinks {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 125px;
        left: -100%;
        background-color: #f3884d;
        overflow-x: hidden;
        transition: 0.5s;
        a {
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          text-align: center;
          padding: 5px;
          box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
          &:first-child {
            box-shadow: none;
          }
        }
      }
    }
    .topnav a {
      color: white;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      box-shadow: none;
    }

    .topnav a.icon {
      display: block;
      position: absolute;
      left: -3px;
      top: -13px;
    }
  }
  .active {
    background-color: #f3884d;
    color: white;
  }
  .show-hidden {
    display: none;
  }
  .show {
    display: block !important;
  }
  &-footer {
    box-shadow: 2px -1px 6px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 60px 20px 60px;
    .footer {
      display: flex;
      justify-content: center;
      @include mobile {
        flex-direction: column-reverse;
      }
      &-item {
        padding: 0 30px;
        @include mobile {
          margin-bottom: 60px;
        }
        @include mini-mobile {
          padding: 0 20px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
        }
      }
      &-left {
        @include mobile {
          padding: 0;
        }
        ul {
          list-style: none;
          margin-top: 15px;
          @include mobile {
            padding: 0 5px;
            margin-top: 15px;
          }
          li {
            padding: 4px 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            .icon {
              position: relative;
              margin-right: 20px;
              .home {
                margin-top: -8px;
              }
              .home-1 {
                position: absolute;
                top: 5.5px;
                left: 6.2px;
              }
              .email-1 {
                position: absolute;
                top: 5px;
                left: 0;
              }
            }
          }
        }
      }
      &-middle {
        img {
          margin-top: 15px;
          width: 40%;
          height: auto;
          @include mobile {
            width: 90%;
          }
        }
      }
      &-right {
        @include mobile {
          padding: 0;
        }
        ul {
          list-style: none;
          margin-top: 15px;
          margin-left: 30px;
          @include mobile {
            margin-top: 10px;
            margin-right: 28px;
            padding: 0;
          }
          li {
            padding: 6px 0;
            @include mobile {
              text-align: center;
            }
          }
        }
      }
    }
    @include mobile {
      padding: 36px 53px;
    }
    @include mini-mobile {
      padding: 40px 45px 20px 45px;
    }
  }
}
.product-detail {
  &__nav {
    background-color: #f2e3cd;
    margin-top: -20px;
    @include mobile {
      margin-top: -1px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      padding: 15px 0;
      margin-bottom: 0;
      @include mobile {
        font-size: 10px;
        padding: 3px 0;
      }
    }
  }
}

.contact-main {
  margin-top: 62px;
  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
  }
  &__content {
    margin-top: 26px;
    .contact-img {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @include mobile {
    margin-top: 28px;
    padding: 0 27px;
    &__title {
      h2 {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
.contact-info {
  margin-top: 85px;
  padding: 0 40px;
  .info {
    display: flex;
    justify-content: space-between;
    .contact-left {
      &__title {
        margin-left: 30px;
        h3 {
          font-size: 32px;
          font-weight: 700;
        }
        @include mobile {
          margin: 0;
          h3 {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin: 0;
          }
        }
      }
      ul {
        font-size: 24px;
        font-weight: 400;
        list-style: none;
        padding: 0;
        li {
          line-height: 48px;
        }
        @include mobile {
          font-size: 16px;
          margin-top: 10px;
          li {
            line-height: 32px;
          }
        }
      }
    }
    .contact-right {
      margin-bottom: 234px;
      .top,
      .bottom {
        margin-bottom: 30px;
        h3 {
          font-size: 32px;
          font-weight: 700;
          @include mobile {
            font-size: 16px;
            line-height: 22px;
          }
        }
        p {
          font-size: 24px;
          font-weight: 400;
          line-height: 48px;
          margin-bottom: 0;
          @include mobile {
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
      @include mobile {
        text-align: center;
        margin-top: 35px;
        margin-bottom: 53px;
        .top {
          margin-bottom: 60px;
        }
      }
    }
  }
  @include mobile {
    margin-top: 40px;
    padding: 0 27px;
  }
}
