* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.home {
  overflow: hidden;
}
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 29px 75px;
}
@media (max-width: 480px) {
  .home-header {
    padding: 20px 34px;
  }
}
.home-header__logo #logo-mobile {
  display: none;
}
.home-header__search {
  margin-top: 25px;
  position: relative;
}
@media (max-width: 480px) {
  .home-header__search {
    position: absolute;
    top: 40px;
    right: 30px;
  }
}
.home-header__search .input {
  width: 462px;
  height: 40px;
  border: 1px solid #f3884d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.home-header__search .input::placeholder {
  font-size: 20px;
  padding-left: 55px;
}
@media (max-width: 480px) {
  .home-header__search .input::placeholder {
    font-size: 12px;
    padding-left: 35px;
  }
}
@media (max-width: 480px) {
  .home-header__search .input {
    width: 223px;
    height: 24px;
  }
}
.home-header__search i {
  position: absolute;
  font-size: 1.3rem;
  color: #5c5252;
  top: 11px;
  left: 22px;
}
.home-header__search i:hover {
  color: #f3884d;
}
@media (max-width: 480px) {
  .home-header__search i {
    font-size: 0.8rem;
    top: 7.5px;
    left: 10px;
  }
}
.home-header__cart {
  margin-top: 30px;
  margin-right: -45px;
}
@media (max-width: 480px) {
  .home-header__cart {
    position: absolute;
    top: -8px;
    right: 245px;
  }
}
.home-header__cart a {
  text-decoration: none;
}
.home-header__cart a i {
  font-size: 2rem;
  color: #f3884d;
}
.home-header__cart a i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__cart a i {
    font-size: 1.5rem;
  }
}
.home-header__avt {
  margin-top: 30px;
  margin-left: -30px;
}
@media (max-width: 480px) {
  .home-header__avt {
    position: absolute;
    top: -8px;
    right: 155px;
  }
}
.home-header__avt i {
  font-size: 2.3rem;
  color: #f3884d;
}
.home-header__avt i:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__avt i {
    font-size: 1.5rem;
  }
}
.home-header__text {
  margin-top: 30px;
  margin-left: -80px;
}
@media (max-width: 480px) {
  .home-header__text {
    position: absolute;
    top: -8px;
    right: 50px;
  }
}
.home-header__text a {
  text-decoration: none;
  font-size: 20px;
  color: #f3884d;
  margin-bottom: 3px;
}
.home-header__text a:hover {
  color: #b8480b;
}
@media (max-width: 480px) {
  .home-header__text a {
    font-size: 12px;
  }
}
.home-menu {
  background-color: #f3884d;
  padding: 0 60px;
}
.home-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-menu ul li {
  margin: 0 22px;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 700;
}
.home-menu ul li a {
  text-decoration: none;
  color: #fff;
}
.home-menu ul li a:hover {
  color: #b8480b;
}
.home .menu-mobile {
  display: none;
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}
.home .menu-mobile .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.home .menu-mobile .topnav #myLinks {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 125px;
  left: -100%;
  background-color: #f3884d;
  overflow-x: hidden;
  transition: 0.5s;
}
.home .menu-mobile .topnav #myLinks a {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  padding: 5px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
}
.home .menu-mobile .topnav #myLinks a:first-child {
  box-shadow: none;
}
.home .menu-mobile .topnav a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  box-shadow: none;
}
.home .menu-mobile .topnav a.icon {
  display: block;
  position: absolute;
  left: -3px;
  top: -13px;
}
.home .active {
  background-color: #f3884d !important;
  color: white !important;
}
.home .show-hidden {
  display: none;
}
.home .show {
  display: block !important;
}
.home-footer {
  box-shadow: 2px -1px 6px 2px rgba(0, 0, 0, 0.25);
  padding: 40px 60px 20px 60px;
}
.home-footer .footer {
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .home-footer .footer {
    flex-direction: column-reverse;
  }
}
.home-footer .footer-item {
  padding: 0 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-item {
    margin-bottom: 80px;
  }
}
.home-footer .footer-item .title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .home-footer .footer-left {
    padding: 0;
  }
}
.home-footer .footer-left ul {
  list-style: none;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .home-footer .footer-left ul {
    padding: 0 5px;
    margin-top: 15px;
  }
}
.home-footer .footer-left ul li {
  padding: 4px 0;
  font-weight: 400;
}
.home-footer .footer-left ul li .icon {
  margin-right: 20px;
}
.home-footer .footer-left ul li .icon i {
  font-size: 1.4rem;
}
@media (max-width: 480px) {
  .home-footer .footer-left ul li .icon i {
    font-size: 1.2rem;
  }
}
.home-footer .footer-middle img {
  margin-top: 15px;
  width: 40%;
  height: auto;
}
@media (max-width: 480px) {
  .home-footer .footer-middle img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .home-footer .footer-right {
    padding: 0;
  }
}
.home-footer .footer-right ul {
  list-style: none;
  margin-top: 15px;
  margin-left: 30px;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul {
    margin-top: 10px;
    margin-right: 28px;
    padding: 0;
  }
}
.home-footer .footer-right ul li {
  padding: 6px 0;
}
@media (max-width: 480px) {
  .home-footer .footer-right ul li {
    text-align: center;
  }
}

.product-detail {
  overflow: hidden;
}
.product-detail__nav {
  background-color: #f2e3cd;
  margin-top: -20px;
}
@media (max-width: 480px) {
  .product-detail__nav {
    margin-top: -1px;
  }
}
.product-detail__nav p {
  font-size: 20px;
  font-weight: 300;
  padding: 15px 0;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .product-detail__nav p {
    font-size: 10px;
    padding: 3px 0;
  }
}
.product-detail .success-symbol {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
@media (max-width: 480px) {
  .product-detail .success-symbol {
    margin-top: 20px;
  }
}
.product-detail .success-symbol__icon {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #f3884d;
}
.product-detail .success-symbol__icon i {
  color: #fff;
  font-size: 5rem;
  margin-top: 41px;
  margin-left: 7px;
}
@media (max-width: 480px) {
  .product-detail .success-symbol__icon {
    width: 56px;
    height: 56px;
    margin-bottom: 5px;
  }
  .product-detail .success-symbol__icon i {
    font-size: 2.3rem;
    margin-top: 12px;
    margin-left: 5px;
  }
}
.product-detail .success-symbol span {
  font-size: 40px;
  font-weight: 700;
  color: #f3884d;
}
@media (max-width: 480px) {
  .product-detail .success-symbol span {
    font-size: 13px;
    line-height: 17px;
  }
}
.product-detail .success-thank {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-detail .success-thank h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.product-detail .success-thank span {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  font-style: italic;
}
@media (max-width: 480px) {
  .product-detail .success-thank {
    margin-top: 19px;
    margin-bottom: 20px;
  }
  .product-detail .success-thank h3 {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .product-detail .success-thank span {
    font-size: 8px;
    line-height: 10px;
  }
}
.product-detail .success-form {
  border: 1px solid #000;
  padding: 35px 40px 0 40px;
}
@media (max-width: 480px) {
  .product-detail .success-form {
    margin: 0 27px;
    width: 360px;
    padding: 14px 11px 20px 11px;
  }
}
.product-detail .success-form h3 {
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 480px) {
  .product-detail .success-form h3 {
    font-size: 8px;
    line-height: 10px;
  }
}
.product-detail .success-form .line {
  height: 1px;
  background-color: #000;
  margin-top: 25px;
}
@media (max-width: 480px) {
  .product-detail .success-form .line {
    margin-top: 14px;
  }
}
.product-detail .success-form .form-info {
  margin-top: 25px;
}
.product-detail .success-form .form-info .item {
  margin-bottom: 28px;
}
@media (max-width: 480px) {
  .product-detail .success-form .form-info .item {
    margin-bottom: 18px;
  }
}
.product-detail .success-form .form-info .item .left {
  text-align: right;
}
.product-detail .success-form .form-info .item .left span {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 480px) {
  .product-detail .success-form .form-info .item .left span {
    font-size: 10px;
    line-height: 14px;
  }
}
.product-detail .success-form .form-info .item .right {
  text-align: left;
}
.product-detail .success-form .form-info .item .right span {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .product-detail .success-form .form-info .item .right span {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 480px) {
  .product-detail .success-form .form-info {
    margin-top: 0;
  }
}
.product-detail .success-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 240px;
}
@media (max-width: 480px) {
  .product-detail .success-btn {
    margin-top: 24px;
    margin-bottom: 151px;
  }
}
.product-detail .success-btn button {
  width: 317px;
  height: 63px;
  background-color: #f3884d;
  text-align: center;
  border: 0;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-detail .success-btn button a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .product-detail .success-btn button {
    width: 220px;
    height: 40px;
    border-radius: 20px;
  }
  .product-detail .success-btn button a {
    font-size: 16px;
    line-height: 32px;
  }
}

/*# sourceMappingURL=order-success.css.map */
