@import 'mixin';

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.home {
  overflow: hidden;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 29px 75px;
    @include mobile {
      padding: 20px 34px;
    }
    &__logo {
      #logo-mobile {
        display: none;
      }
    }
    &__search {
      margin-top: 25px;
      position: relative;
      @include mobile {
        position: absolute;
        top: 40px;
        right: 30px;
      }
      .input {
        width: 462px;
        height: 40px;
        border: 1px solid #f3884d;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        &::placeholder {
          font-size: 20px;
          padding-left: 55px;
          @include mobile {
            font-size: 12px;
            padding-left: 35px;
          }
        }
        @include mobile {
          width: 223px;
          height: 24px;
        }
      }
      i {
        position: absolute;
        font-size: 1.3rem;
        color: #5c5252;
        top: 11px;
        left: 22px;
        &:hover {
          color: #f3884d;
        }
        @include mobile {
          font-size: 0.8rem;
          top: 7.5px;
          left: 10px;
        }
      }
    }
    &__cart {
      margin-top: 30px;
      margin-right: -45px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 245px;
      }
      a {
        text-decoration: none;
        i {
          font-size: 2rem;
          color: #f3884d;
          &:hover {
            color: #b8480b;
          }
          @include mobile {
            font-size: 1.5rem;
          }
        }
      }
    }
    &__avt {
      margin-top: 30px;
      margin-left: -30px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 155px;
      }
      i {
        font-size: 2.3rem;
        color: #f3884d;
        &:hover {
          color: #b8480b;
        }
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
    &__text {
      margin-top: 30px;
      margin-left: -80px;
      @include mobile {
        position: absolute;
        top: -8px;
        right: 50px;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color: #f3884d;
        margin-bottom: 3px;
        &:hover {
          color: #b8480b;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
  &-menu {
    background-color: #f3884d;
    padding: 0 60px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: 0 22px;
        padding: 12px 0;
        font-size: 24px;
        font-weight: 700;
        a {
          text-decoration: none;
          color: #fff;
          &:hover {
            color: #b8480b;
          }
        }
      }
    }
  }
  .menu-mobile {
    display: none;
    max-width: 480px;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
      #myLinks {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 125px;
        left: -100%;
        background-color: #f3884d;
        overflow-x: hidden;
        transition: 0.5s;
        a {
          font-size: 10px;
          font-weight: 700;
          line-height: 14px;
          text-align: center;
          padding: 5px;
          box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
          &:first-child {
            box-shadow: none;
          }
        }
      }
    }
    .topnav a {
      color: white;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      box-shadow: none;
    }

    .topnav a.icon {
      display: block;
      position: absolute;
      left: -3px;
      top: -13px;
    }
  }
  .active {
    background-color: #f3884d !important;
    color: white !important;
  }

  .show-hidden {
    display: none;
  }
  .show {
    display: block !important;
  }
  &-footer {
    box-shadow: 2px -1px 6px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 60px 20px 60px;
    .footer {
      display: flex;
      justify-content: center;
      @include mobile {
        flex-direction: column-reverse;
      }
      &-item {
        padding: 0 30px;
        @include mobile {
          margin-bottom: 60px;
        }
        @include mini-mobile {
          padding: 0 20px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
        }
      }
      &-left {
        @include mobile {
          padding: 0;
        }
        ul {
          list-style: none;
          margin-top: 15px;
          @include mobile {
            padding: 0 5px;
            margin-top: 15px;
          }
          li {
            padding: 4px 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            .icon {
              position: relative;
              margin-right: 20px;
              .home {
                margin-top: -8px;
              }
              .home-1 {
                position: absolute;
                top: 5.5px;
                left: 6.2px;
              }
              .email-1 {
                position: absolute;
                top: 5px;
                left: 0;
              }
            }
          }
        }
      }
      &-middle {
        img {
          margin-top: 15px;
          width: 40%;
          height: auto;
          @include mobile {
            width: 90%;
          }
        }
      }
      &-right {
        @include mobile {
          padding: 0;
        }
        ul {
          list-style: none;
          margin-top: 15px;
          margin-left: 30px;
          @include mobile {
            margin-top: 10px;
            margin-right: 28px;
            padding: 0;
          }
          li {
            padding: 6px 0;
            @include mobile {
              text-align: center;
            }
          }
        }
      }
    }
    @include mobile {
      padding: 36px 53px;
    }
    @include mini-mobile {
      padding: 40px 45px 20px 45px;
    }
  }
}
.product-detail {
  overflow: hidden;
  &__nav {
    background-color: #f2e3cd;
    margin-top: -20px;
    @include mobile {
      margin-top: -1px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      padding: 15px 0;
      margin-bottom: 0;
      @include mobile {
        font-size: 10px;
        padding: 3px 0;
      }
    }
  }
  .payment-info {
    width: 900px;
    margin: 0 auto;
    margin-top: 53px;
    padding: 20px 75px;
    background-color: #f2e3cd;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    @include mobile {
      width: 360px;
      margin-top: 32px;
      padding: 13px 30px 22px 30px;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      @include mobile {
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
      }
    }
    .form-info {
      margin-top: 22px;
      .item-input {
        margin-bottom: 23px;
        input {
          width: 100%;
          height: 50px;
          padding: 0 30px;
          border: 0;
          outline: none;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-size: 20px;
          font-weight: 400;
          color: #000;
          opacity: 0.5;
        }
        @include mobile {
          margin-bottom: 11px;
          input {
            width: 100%;
            height: 23px;
            padding: 0 11px;
            font-size: 10px;
            line-height: 14px;
            opacity: 1;
          }
        }
      }
      .item-btn {
        button {
          width: 100%;
          height: 50px;
          background-color: #f3884d;
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          text-align: center;
          border: 0;
          outline: none;
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
          @include mobile {
            font-size: 10px;
            line-height: 20px;
            height: 27px;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .payment-pro {
    margin-top: 53px;
    padding: 0 75px;
    @include mobile {
      padding: 0 30px;
      margin-bottom: 21px;
    }
    table,
    tr,
    td {
      text-align: center;
    }
    table {
      width: 100%;
      margin: 0 auto;
      thead {
        border-bottom: 1px solid #000000;
        th {
          font-size: 24px;
          font-weight: 400;
          @include mobile {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      tbody {
        tr {
          font-size: 20px;
          font-weight: 300;
          .img-pro {
            width: 15%;
            img {
              width: 134px;
              height: 134px;
              @include mobile {
                width: 40px;
                height: 40px;
              }
            }
          }
          .name-pro {
            text-align: left;
            width: 20%;
            @include mobile {
              font-size: 10px;
              font-weight: 300;
              line-height: 14px;
            }
          }
          td {
            padding: 25px 0;
            @include mobile {
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
              padding-top: 17px;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  .payment-voucher {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    @include mobile {
      margin-top: 0;
    }
    .symbol {
      display: flex;
      align-items: center;
      svg {
        width: 44px;
        height: 32px;
        @include mobile {
          width: 18px;
          height: 13px;
        }
      }
      span {
        font-size: 24px;
        font-weight: 700;
        color: #f3884d;
        margin-left: 22px;
        @include mobile {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    button {
      width: 180px;
      height: 48px;
      font-size: 24px;
      font-weight: 300;
      border: 1px solid #f3884d;
      color: #f3884d;
      background-color: #fff;
      @include mobile {
        width: 67px;
        height: 20px;
        font-size: 10px;
      }
    }
  }
  .payment-method {
    padding: 15px 20px 20px 20px;
    border-bottom: 1px solid #000000;
    @include mobile {
      padding-bottom: 0;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding: 13px 0;
        input {
          width: 27px;
          height: 27px;
          cursor: pointer;
        }
        input[type='radio']:checked {
          accent-color: #b8480b;
        }
        label {
          font-size: 20px;
          font-weight: 400;
          margin-left: 42px;
        }
      }
    }
    @include mobile {
      h3 {
        font-size: 14px;
        line-height: 19px;
      }
      ul {
        li {
          padding: 11px 0;
          input {
            width: 18px;
            height: 18px;
          }
          label {
            font-size: 12px;
            line-height: 16px;
            margin-left: 7px;
          }
        }
      }
    }
  }
  .payment-cal {
    padding: 20px 0;
    border-bottom: 1px solid #000;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 22px;
      span {
        font-size: 24px;
        font-weight: 400;
      }
    }
    @include mobile {
      padding: 20px 25px 0 25px;
      span {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .payment-total {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 24px;
      font-weight: 700;
    }
    p {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      color: #f3884d;
    }
    @include mobile {
      margin-top: 15px;
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }
      p {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
  .payment-order {
    margin-top: 44px;
    margin-bottom: 125px;
    display: flex;
    justify-content: flex-end;
    button {
      width: 230px;
      height: 76px;
      text-align: center;
      border: 0;
      outline: none;
      background-color: #f3884d;
      a {
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
      }
    }
    @include mobile {
      margin-top: 31px;
      margin-bottom: 127px;
      button {
        width: 154px;
        height: 40px;
        a {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &__body {
      width: 650px;
      height: 596px;
      background-color: #f2e3cd;
      margin: auto;
      position: relative;
      top: 25px;
      z-index: 1;
      box-shadow: 0 3px 9px rgb(56, 56, 56);
      max-width: calc(100% - 32px);
      @include mobile {
        width: 363px;
        height: 360px;
        top: 170px;
      }
    }
    &__inner {
      padding: 32px 35px;
      @include mobile {
        padding: 20px 21px;
      }
      h3 {
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        padding-bottom: 15px;
        border-bottom: 1px solid #000;
        @include mobile {
          font-size: 14px;
          font-weight: 800;
          line-height: 19px;
        }
      }
      .modal__form {
        margin-top: 30px;
        @include mobile {
          margin-top: 17px;
        }
        .item-input {
          margin-bottom: 22px;
          input {
            width: 100%;
            height: 48px;
            padding: 0 20px;
            outline: none;
            border: 0.798928px solid #000000;
            box-shadow: 0px 3.19571px 3.19571px rgba(0, 0, 0, 0.25);
            &::placeholder {
              font-size: 20px;
              font-weight: 400;
              font-style: italic;
              color: #000;
              opacity: 0.5;
            }
          }
          @include mobile {
            margin-bottom: 11px;
            input {
              height: 29px;
              padding: 0 11px;
              &::placeholder {
                font-size: 10px;
                line-height: 14px;
              }
            }
          }
        }
        .item-btn {
          button {
            width: 102px;
            height: 40px;
            background-color: #f3884d;
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            border: 0;
            outline: none;
            @include mobile {
              width: 100%;
              height: 23px;
              font-size: 11px;
              line-height: 21px;
              border-radius: 18px;
            }
          }
        }
      }
    }
  }
  .modal.open {
    display: block;
  }
}
